/* Team:布利啾啾迪布利多,NKU */
/* coding by 徐云凯 1713667 */
/* 疫情地图 css 样式表 */
#plague-map { 
    display: flex;
    margin: auto;
    width: 95%; 
    height: 540px; 
}
.info { 
    padding: 6px 8px; 
    font: 14px/16px Arial, Helvetica, sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
    border-radius: 5px; 
    min-width: 150px;
} 
.info-p{
    margin: 0;
    display: inline-block;
}
.info h4 { 
    margin: 0 0 5px; 
    color: #777; 
}
.legend { 
    text-align: left; 
    line-height: 18px; 
    color: #555; 
} 
.legend i { 
    width: 18px; 
    height: 18px; 
    float: left; 
    margin-right: 8px; 
    opacity: 0.7; 
}